@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    margin: 0;
    padding: 0;
}


/* media querry for header start from 750 */

/* HEADER */
.header {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    height: 30px;
    background-color: red;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    color: white;
}
.header-links, .header-search {
    flex: 1;
}
.header-links ul li {
    display: inline-block;
    margin-right: 10px;
}
.header-links a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
}
.header-links a:hover {
    color: gray;
}
.header-search {
    text-align: right;
}
#search-box {
    width: 170px;
    border-radius: 20px;
    height: 25px;
    outline: none;
    border: none;
} 
#search-button {
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url(loupe.png) white no-repeat center;
    outline: none;
    border: none;
}

/* SOCIAL */
.social {
    display: flex;
    padding: 30px;
    background-color: white;
}
.social-heading, .social-media {
    flex: 1;
}
.social-heading {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}
.social-media {
    text-align: right;
}
.social-media ul li {
    display: inline-block;
    margin-right: 10px;
    transition: all 0.5s ease-in-out;
}
.social-media ul li:hover {
    transform: scale(1.2,1.2);
}

/* NAVIGATION */
.navigation {
    display: flex;
}
.nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    margin: 0 30px;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    border-radius: 5px;
    background-color: rgb(42, 39, 39);
}
.nav .nav-link a {
transition-property: color;
transition-duration: 0.4s;
}
.nav .nav-link a:hover {
color: red;
}
.nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 30px;
}

/* ARTICLE */
.main-article {
    display: flex;
}
.article-image {
    flex: 1;
}
.article-image .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 440px;
    background-color: rgb(42, 39, 39);
    color: white;
    font-size: 3em;
} 
.article-text {
    flex: 2;
}
.article-text .article-heading {
    margin: 0;
    font-size: 5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.article-text p {
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}
.read-more {
    text-align: right;
}
.read-more a {
    color: red;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.1em;
}
/* SECONDARY */
.secondary-section {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 30px;
    background-color: rgb(226, 226, 226);
}
.column-1,.column-2,.column-3 {
    flex: 1;
}
.column-1 {
    display: flex;
    flex-direction: column;
}
.column-1 h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}
.column-1 .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 140px;
    background-color: rgb(42, 39, 39);
    color: white;
    font-size: 2em;
}
.column-1 .secondary-read-more {
    text-align: right;
}
.column-2 {

}
.column-2 .service {
    display: flex;
}